%p プライバシーポリシー
%p  Twitter
  
%p  Facebook
  
%p  本プライバシーポリシーは、当サイトにおける、利用者（以下、「ユーザー」と言います。）に関する個人情報の保護及び適切な取り扱いについての方針を示したものです。

%p  1.基本方針
%p  当サイトは、ユーザーの個人情報を保護することが当サイトの事業活動の基本であるとともに、社会的責務と認識し、個人情報の取得、利用、管理を適正に行います。当サイトで収集した情報は、利用目的の範囲内で適切に取り扱います。

%p  2.適用範囲
%p  本プライバシーポリシーは、当サイトにおいてのみ適用されます。
%p  なお、当サイトにおいて、出品、購入、コメントの投稿、各サービスのお申し込みをした時点で、本プライバシーポリシーに同意されたものとみなします。

%p 3.個人情報の取得
%p 当サイトで取得するユーザーの個人情報は次のとおりです。

%p  3-1.コメント欄
%p  ユーザーが各サービスを利用した際、次の個人情報を取得します。

%p 名前
%p メールアドレス
%p コメント内容
%p IPアドレス
%p ブラウザユーザーエージェント文字列

%p 3-2.お問い合わせフォーム
%p ユーザーが当サイトのお問い合わせページなどに設置されたフォームから問い合わせをした際、次の個人情報を取得します。

%p 名前
%p メールアドレス
%p お問い合わせ内容

%p 3-3.各サービスのお申し込みフォーム
%p ユーザーが当サイトの各サービスページなどに設置されたお申し込みフォームから申し込みをした際、次の個人情報を取得します。

%p 名前
%p メールアドレス
%p お申し込み内容
%p 各サービスの提供に必要な情報
%p 3-4.Cookie（クッキー）
%p 当サイトは、ユーザーのコンピュータにCookieを送信することがあります。
%p Cookieとは、ウェブサイトを利用したときに、ブラウザとサーバーとの間で送受信した利用履歴や入力内容などを、ユーザーのコンピュータにファイルとして保存しておく仕組みです。

%p これら情報により次回同じページにアクセスする際には、ページの表示が自動的に切り替えられる場合があります。
%p 例えば、初回はログイン画面が表示されるが、次回（2回目）以降はログイン画面は表示されずにログイン後のページが表示されるなどです。

%p なお、ユーザーはCookieの送受信を拒否することができます。具体的には、ブラウザの設定によって「すべてのCookieを許可する」「すべてのCookieを拒否する」「Cookieを受信したらユーザーに通知する」などから選択することができます。但し、Cookieの送受信を拒否した場合、認証が必要なサービスを受けられなくなる等、機能が制限される場合があります。

%p 4.個人情報の利用
%p 当サイトで取得した個人情報の利用目的は次のとおりです。

%p コメント欄の荒し対策やスパム検出に役立てるため。
%p コメントやお問い合わせに適時且つ正確に応答するため。
%p 当サイト内でコメントやお問い合わせ内容を引用して紹介させていただく場合もあります。
%p 各サービスお申し込みに適時且つ正確に応対するため。
%p 各サービスお申し込みの内容とユーザーの関連付けにおいて正確な管理を行い、そのために電子的方法などで記号化し保存管理するため。
%p アフィリエイトプログラム、広告配信サービスなどを提供するため。
%p 当サイトの運営者（ジャパンネル合同会社）が事業普及のために、トラフィックデータ（アクセス解析）やその他集積した情報を分析、活用するため。
%p ユーザーへの各種案内（自動返信メール、メールマガジン、郵便物等）を送付するため。
%p 
%p 5.個人情報の保存期間
%p 当サイトに投稿されたコメント、お問い合わせ及び各サービスのお申込みに関する情報は無期限で保存されます。但し、当サイトの判断により、関する情報が不要となった場合には、速やかに削除されます。

%p 6.個人情報の管理
%p 当サイトは、個人情報に関する法令、規範を遵守し、個人情報の管理責任者を置き、個人情報の保護に努めています。

%p 当サイトは、ユーザーの個人情報を安全且つ正確に管理し、個人情報への不正アクセス、紛失、破壊、改ざん及び漏洩などを防止するための措置を講じています。
%p 当サイトは、次に掲げる場合を除き、予めユーザーの同意を得ないで個人情報を第三者に提供いたしません。また、当サイトが個人情報の処理を外部へ委託する場合には、当サイトと同様に適切な管理を行うよう、契約によって義務付けています。
%p 個人情報保護に関する法律第23条第2項ないし同第4項の方法による場合
%p 法令などの規定に従い提供または開示する場合
%p 各種案内等を送付するにあたり、郵便局や宅配便会社に宛先を指定する場合
%p 当サイトは、ユーザーが、ユーザー本人の個人情報の開示、訂正、追加、削除、利用停止などを希望される場合、または、ユーザーに提供（送付）する各種案内の停止を希望される場合には、連絡を受け次第速やかに対応しています。
%p 当サイトは、個人情報に関して適用される法令、規範などを遵守するとともに、上記各項における個人情報の取扱いを監査し継続的に見直し、改善に努めています。
%p 
%p 10.プライバシーポリシーの変更について
%p 当サイトは、個人情報に関して適用される日本の法令を遵守するとともに、本プライバシーポリシーの内容を適宜見直しその改善に努めます。改訂された最新の内容は常に本ページにて開示されます。

%p 
%p 利用規約
%p Twitter
%p 
%p Facebook

%p 当サイト（以下、運営者を含み「当サイト」と言います。）は、閲覧者（以下、「利用者」と言います。）に有益な情報を提供することを目的として運営されています。

%p 当サイトは、当サイトの閲覧に関連して生じた利用者及び第三者の結果的損害、付随的損害、逸失利益等の間接損害について、それらの予見または予見可能性の有無にかかわらず一切の責任を負いません。

%p 前項の規定は、当サイトに故意または重過失が存する場合などには適用しません。当サイトが損害賠償責任を負う場合、当該利用者が当サイトに支払った対価の総額を限度額として賠償責任を負うものとします。

%p 利用者は、当サイトが提供しているサービスを利用した場合、当サイトから自動送信メールや各種案内メールなどが送信されることにご了承いただきます。

%p 利用者の個人情報は理由の如何にかかわらず漏洩や転売などは一切いたしません。但し、資料送付時などにおける郵便局や宅配便会社は例外とします。その他の個人情報の取り扱いについてはプライバシーポリシーをご確認ください。

%p 利用者が、本利用規約に違反した行為や不正、違法な行為など、または、脅迫的な言動や風説を流布、偽計、威力などを用いて当サイトの信用を毀損し運営を妨害し損害を与えた場合、または、その他これに類する事由がある場合、利用者は相応の損害賠償を支払う義務を負うものとします。また、当サイトの判断でサービスの提供などを拒否できるものとします。
