.mypage
  .mypage__nav
    = render 'layouts/mypage-sidebar'
    .mypage__nav__main-contents
      .mypage__nav__main-contents__single-inner
        .mypage__nav__main-contents__single-inner__button
          = link_to "ログアウト", "/users/sign_out", method: :delete, class: "mypage__nav__main-contents__single-inner__button__text"




