.pickup__brand
  .pickup__brand__main
    人気のブランド
  .pickup__brand__items
    .pickup__brand__item.clearfix
      シャネル
    .pickup__brand__item.clearfix
      ルイヴィトン
    .pickup__brand__item.clearfix
      ナイキ