.item-details-container
  =render 'layouts/header'

  .item-edit-content
    .item-edit-content__inner
      =render 'item_details'

      .edit-buttons
        =link_to "商品の編集", edit_item_path(@item), class: "edit-buttons__sd", id: "edit-buttons__edit"
        %p.edit-buttons__text or
        .edit-buttons__sd 出品を停止する
        .edit-buttons__sd この商品を削除する





.banner
  = render "layouts/banner"
.footer
  = render "layouts/footer"