.family {
  line-height: 33px;
  margin-left: 0px;
  padding:0;
  &:hover .parent-list{
    display: block;
  }
}
.parent-list{
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 1;
  font-weight: 100;
  font-size: 14px;
  display: none;
  background-color: #fff;
  width: 200px;
  height: 100px;
  padding:0;
  li {
    margin-left: 0;
    box-shadow: 1px 0 0 0 #eee inset;
    width:200px;
    &:hover {
      background-color: #ea352d;
      color: #fff;
      display: block;
    }
  }
}

.child-list {
  position: absolute;
  top: 0px;
  left: 200px;
  z-index: 1;
  font-weight: 100;
  font-size: 14px;
  display: none;
  background-color: #fff;
  width: 200px;
  height: 100px;
  li {
  margin-left: 0;
  padding:0;
  }
}

.grandchild-list {
  position: absolute;
  top: 0px;
  left: 200px;
  z-index: 1;
  font-weight: 100;
  font-size: 14px;
  display: none;
  background-color: #fff;
  width: 200px;
  height: 100px;
  li {
    margin-left: 0;
    padding:0;
  }
  .grandchild{
    display: block;
  }
}

@for $i from 0 through 2 {
  .parent#{$i}{
    &:hover ul{
      display: block;
      top: $i*-33px;
      ul{
        display: none;
      }
      li {
        &:hover {
          background-color: #ea352d;
          color: #fff;
          display: block;
        }
      }
    }
  }
}

@for $i from 0 through 8 {
  .child#{$i}{
    &:hover ul.grandchild-list{
      display: block;
      top: $i%3*-33px;
      padding:0;
      margin:0;
      li {
        &:hover {
          background-color: #ea352d;
          color: #fff;
          display: block;
          padding:0;
        }
      }
    }
  }
}