li.drop-mypage {
  line-height: 50px;
  &:hover ul.drop-mypage-list{
    display: block;
  }
  .drop-mypage-list {
    position: absolute;
    background: url(https://www.mercari.com/jp/assets/img/mypage/user-bg.jpg?2094209);
    top: 44px;
    right: 0;
    z-index: 1;
    font-weight: 100;
    font-size: 14px;
    border-radius: 5px;
    padding-right: 10px;
    display: none;
    background-color: #fff;
    width: 320px;
    height: 100px;
    text-align: center;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24);
    transition: all 1s;
    .drop-icon{
      width: 60px;
      height: 60px;
      margin: 0 auto;
      border-radius: 50%;
      line-height: 140px;
      right: -10px;
      top: 15px;
      z-index: 1;
    }
    .drop-name{
      font-weight: bold;
      height: 100px;
      width: 100%;
      background-color: #fff;
      padding: 0;
      margin: 0;
      border-bottom: 1px solid #eee;
      padding-left: 10px;
    }
    .drop-text{
      display: flex;
      width: 100%;
      font-weight: 100;
      background-color: #fff;
      p{
        text-align: center;
        padding: 0 45px;
      }
    }
    .drop-list{
      text-align: left;
      width: 100%;
      background-color: #fff;
      padding: 0;
      margin: 0;
      border-bottom: 1px solid #eee;
      padding-left:10px; 
    .drop-list li{
      padding-left: 10px;
      }
      .fa{
        color:#CCCCCC;
        position: absolute;
        right: 10px;
        top: 15px;
      }
      &:hover{
        background-color: #eeeeee;
        .fa{
          transform: translateX(5px);
          color: #333;
        }
      }
    }
  }
}