.single{
  height: 100vh;
  background-color: #F5F5F5;
  overflow: scroll;
  &__header {
    height: 128px;
    text-align: center;
    h1 {
      margin: 40px 0 0;
      display: inline-block;
    }
    img {
      width: 185px;
      height: 49px;
      line-height: 49px;
      }
    }
  &__main {
    display: block;
    &__contents{
      width: 700px;
      margin: 0 auto;
      background-color: #fff;
      .single-head {
        padding: 32px 16px;
        font-size: 22px;
        font-weight: bold;
        line-height: 1.5;
        text-align: center;
      }
      .sell {
      &__form {
        border-top: 1px solid #eee;
        &__box {
          padding: 40px;
          overflow: auto;
          &__head {
            font-size: 16px;
            font-weight: bold;
          }
          &__image{
            display:inline-block;
            height:160px;
            float: left;
            &__ul{
              display:inline-block;
              height:100%;
              overflow: auto;
              margin-bottom: 16px;
              &__li{
                height:100%;
                background-color: black;
                float: left;
                margin: 0 0 0 10px;
                width:116px;
                min-height: 100%;
                border: 1px solid #eee;
                border-style:none; 
                vertical-align: top;
                position: relative;
                display: auto;
                  &__content{
                    width:116px;
                    height:116px;
                    &__upload{
                      display:flex;
                    }
                    &__upload a{
                      text-decoration:none;
                      box-sizing: border-box;
                      border: #b9b7b7 0.1px solid;
                      font-size: 14px;
                      color:rgb(0, 162, 255);
                      height:44px;
                      width: 50%;
                      background: #f5f5f5;
                      line-height: 44px;
                      text-align: center;
                    }
                    &__upload a:nth-child(2){
                      border-left:none;
                    }
                  }
              }
              &__li:first-child{
                margin-left: 0;
              }
            }
          }
          p{
          margin: 8px 0 0;
          line-height: 1.5;
          font-size: 13px;
          }
          label {
            color: black;
            font-weight: bold;
            display: block;
            position: relative;
            min-height: 162px;
            background: #f5f5f5;
            border: 1px dashed #ccc;
            font-size: 14px;
            text-align: center;
            -webkit-transition: -webkit-box-shadow ease-out .3s;
            transition: -webkit-box-shadow ease-out .3s;
            transition: box-shadow ease-out .3s;
            transition: box-shadow ease-out .3s, -webkit-box-shadow ease-out .3s;
            cursor: pointer;
            float: right;
            margin: 0 0 0 10px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center; 
            overflow: hidden;
          }
        }
      }
      &__content{
        font-size: small;
        font-weight: bold;
        padding: 40px;
        border-top: 1px solid #eee;
        }
        &__content__name{
          margin: 0;
        }
        &__content__form{
          margin: 40px 0 0;
        }
      &__group.clearfix{
        font-size: small;
        font-weight: bold;
        display: inline-block;
        padding: 40px;
        border-top: 1px solid #eee;
        width: -webkit-fill-available;
        }
      &__group__head{
        color: #8A8C8D;
        float: left;
        }
      &__group__question{
        display: inline-block;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: #0099e8;
        line-height: 14px;
        font-size: 12px;
        text-align: center;
        a{
          color: #fff;
          text-decoration: none;
        }
      }
      &__group__box{
        float: right;
        width: 400px;
        margin: 0;
      }
      &__group__box__sutetas{
        margin: 40px 0 0;
      }
      &__price__form{
        line-height: 48px;
        padding: 0 0 40px;
      }
      &__price__form__right{
        line-height: 48px;
        float: right;
        text-align: right;
        font-size: 12px;
        font-weight: 100;
      }
      &__price__text{
        padding: 24px 0;
        font-weight: 100;
        border-top: 1px solid #ccc;
        display: flow-root;
        .li-left{
          float: left;
        }
        .li-right{
          float: right;
        }
      }
      &__price__bold{
        padding: 24px 0;
        border-top: 1px solid #ccc;
        font-size: 16px;
        display: flow-root;
        .li-left{
          float: left;
        }
        .li-right{
          float: right;
        }
      }
      &__btn__box{
        padding: 40px;
        border-top: 1px solid #eee;
        &__info{
          font-size: 14px;
          color: #515151;

          a{
          text-decoration: none;
          color: #0099E8;
          }
        }
        &__default{
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          border: 1px solid transparent;
          -webkit-transition: all ease-out .3s;
          transition: all ease-out .3s;
          cursor: pointer;
          text-align: center;
        }
        label {
          margin-top: 40px;
          position: relative;
          color: #fff;
          font-weight: bold;
          display: block;
          width: 100%;
          position: relative;
          height: 48px;
          background: #ea352d;
          font-size: 14px;
          text-align: center;
          cursor: pointer;
          line-height: 48px;
        }
        &__default__gray{
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          border: 1px solid transparent;
          -webkit-transition: all ease-out .3s;
          transition: all ease-out .3s;
          cursor: pointer;
          text-align: center;
          width: 45%;
          margin: 24px auto 0;
          background: #aaa;
          border: 1px solid #aaa;
          color: #fff;
          text-decoration: none;
        }
      }
      }
    }
  }
  &__footer {
    width: 456px;
    height: 220px;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
    &__text {
      li{
        font-size: 12px;
        display: inline;
        white-space: nowrap;
        list-style: none;
        background-repeat: no-repeat;
        margin: 0 0 0 16px;
        padding: 0;
        a{
          text-decoration: none;
          color: #333;
          font-size: inherit;
          line-height: inherit;
        }
      }
    }
    .fotter-logo{
      width: 80px;
      height: 65px;
      margin: 40px auto 0;
    }
    p{
      margin: 8px 0 0;
      font-size: 12px;
    }
  }
  span {
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
    background: #ea352d;
  }
  span.form-any {
    background-color: #8A8C8D
  }
  .input-default{
    max-height: 40px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
    width: 95%;
    margin: 8px 0 0;
  }
  .input-brand{
    max-height: 30px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
    width: 91.5%;
    margin: 8px 0 0;
    }
  .textarea-default {
    margin: 8px 0 0;
    display: block;
    width: 97%;
    max-width: 100%;
    min-height: 104px;
    padding: 10px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 16px;
    line-height: 1.5;
  }
  .select-wrap{
    margin: 8px 0 0;
  }
  .select-default{
    width: 100%;
    position: relative;
    z-index: 2;
    height: 48px;
    padding: 0 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: 0;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
  }
  .input-price{
    max-height: 48px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
    width: 50%;
    margin: 0 0 0 5px;
    text-align: right
  }
  select{
    background-color: rgba(0,0,0,0);
    z-index: 100;
    text-indent: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    line-height: 48px;
    background-color: #fff;
    font-size: inherit;
    }
    ::-ms-expand {
    display: none;
    }
    select option{
      text-align: center
    }
  .select-wrap{
    position: relative;
  }
  .fa-angle-down {
    position: absolute;
    font-weight: bold;
    right: 16px;
    top: 50%;
    z-index: 2;
    color: #888;
    font-size: 25px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
}
.sell-form-image{
  display: block;
  position:relative;
  height:100%;
  width:auto;
  margin:auto;
}

#file_photo_field{
  width:620px;
  box-sizing: border-box;
}