/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'font-awesome-sprockets';
@import 'font-awesome';
@import './reset';
@import 'clearfix';

@import './header';
@import './footer';
@import './slideshow';

nav.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
  border: none;
  color: #696969;
}

nav.pagination li {display: inline;}

nav.pagination li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
}

nav.pagination li a.active {
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;
}

nav.pagination li a:hover:not(.active) {background-color: #ddd;}

.nav-count{
  position: absolute;
  top: -2px;
  left: -12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ea352d;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #fff;
  animation: jump 3s ease-out;
}
.nav-count1{
  position: absolute;
  top: -2px;
  left: 6px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ea352d;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #fff;
  animation: jump 3s ease-out;
}

@keyframes jump {
  0%  {transform: translate( 0%,-550%) scale( 0.5, 1.5);}
  30% {transform: translate( 0%,   0%) scale( 1.4, 0.6);}
  40% {transform: translate( 0%,-100%) scale( 0.6, 1.4);}
  55% {transform: translate( 0%,   0%) scale( 1.2, 0.8);}
  60% {transform: translate( 0%, -50%) scale( 0.7, 1.3);}
  70% {transform: translate( 0%,   0%) scale( 1.1, 0.9);}
  75% {transform: translate( 0%, -20%) scale( 0.8, 1.2);}
  100%{transform: translate( 0%,   0%) scale(   1,   1);}
}

