.delete-contnet
  .delete-contnet__box
    .delete-contnet__box__btn
      %text 確認
      %br/
      削除すると2度と復活できません。
      %br/
      削除する代わりに停止することができます。
      %br/
      %br/
      本当に削除しますか？
    .delete-contnet__box__cancel
      キャンセル
    = link_to '削除する','user-item/60',class: "delete-contnet__box__delete"