%li.family
  =link_to "カテゴリーから探す","/"
  %ul.parent-list
    %li.parent レディース
    %ul.child-list
      %li.child トップス
      %li.child パンツ
      %li.child ジャケット/アウター
      %ul.grandchild-list
        %li.grandchild ニット
        %li.grandchild パーカー
        %li.grandchild ジーンズ
    %li.parent メンズ
    %ul.child-list
      %li.child トップス
      %li.child パンツ
      %li.child ジャケット/アウター
      %ul.grandchild-list
        %li.grandchild ニット
        %li.grandchild パーカー
        %li.grandchild ジーンズ
    %li.parent キッズ
    %ul.child-list
      %li.child トップス
      %li.child パンツ
      %li.child ジャケット/アウター
      %ul.grandchild-list
        %li.grandchild ニット
        %li.grandchild パーカー
        %li.grandchild ジーンズ
