-# .item-details__photo__main__dots
-#   .item-details__photo__main__dots__dot
-#     %span
-#     .item-details__photo__main__dots__dot__inne
-#       - @item.images.each do |image|
-#         = image_tag image ,class: 'item-details-dot-image1'
-# .item-details__photo__main__dots
-#   .item-details__photo__main__dots__dot
-#     %span
-#     .item-details__photo__main__dots__dot__inner
-#       - @item.images.first(2).each do |image|
-#         = image_tag image ,class: 'item-details-dot-image1'
-# .item-details__photo__main__dots
-#   .item-details__photo__main__dots__dot
-#     %span
-#     .item-details__photo__main__dots__dot__inner
-#       = image_tag @item.images[3] ,class: 'item-details-dot-image1'
-# .item-details__photo__main__dots
-#   .item-details__photo__main__dots__dot
-#     %span
-#     .item-details__photo__main__dots__dot__inner
-#       - @item.images.last(1).each do |image|
-#         = image_tag image ,class: 'item-details-dot-image1'
.item-details__photo__main__dots
  .item-details__photo__main__dots__dot
    %span
    .item-details__photo__main__dots__dot__inner
      - @item.images.each.with_index(1) do |image,i|
        = image_tag image ,class: "item-details-dot-image#{i}"